body {
    background-color: rgb(23, 23, 23);
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.copyright {
    justify-content: start;
    top: 0;
    bottom: 0;
}

img {
    height: 250px;
}

.vans {
    height: 200px;
}
