body {
    background-color: #476755;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    padding: 20px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.product-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    max-width: 1200px;
}

img {
    height: 300px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: black solid 2px;
}

.description-shoes {
    font-size: 20px;
    line-height: 1.5;
}

.buy-now {
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 20px;
    background-color: whitesmoke;
    color: #476755;
    border: none;
    border-radius: 8px;
}