body {
    background-color: #476755;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

img {
    height: 300px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: black solid 2px;
    position: absolute;
    
}

.description-shoes{
    position: absolute;
    left: 30%;
    right: 10%;
    font-size: 20px;
}

.buy-now {
    position: absolute;
    left: 5%;
    right: 7%;
    bottom: 40%;
    height: 5%;
    width: 10%;
}