body {
    background-color: #476755;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

img {
    height: 300px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: black solid 2px;
    position: absolute;
    
}

.headers {
    

}

.description-shoes{
    position: absolute;
    left: 30%;
    right: 10%;
    font-size: 20px;
}

.credits {
    position: absolute;
    left: 60%;
    bottom: 5%;
    
}

.details {
    
}